---
title: Contact
---

<div class="welcome container">
  <h1>Joe No Photo, bitch</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
